<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles/style.css" rel="stylesheet">
    <link href="/static/styles/fonts.css" rel="stylesheet">
    <link href="/static/styles/media.css" rel="stylesheet">
    <title>Landing Page</title>
</head>
<body>
    <header>
        <div id="title">
            <h1>Marketing</h1>
            <h1>Criativo</h1>
        </div>
    </header>

    <main>
        <aside>
            <h2><span>dados recebidos</span></h2>
            <p>

        <article>
            <img src="/static/components/images/77d0a7c454e658833800528e748edbe9.png" alt="mulher-roxa">
        </article>
    </main>

    <footer>Desenvolvido por: <a href="https://darlan-almeida.github.io/portifolio/"> Darlan Almeida </a></footer>
    
</body>
</html>