<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles/style_termos.css" rel="stylesheet">
    <link href="/static/styles/fonts.css" rel="stylesheet">
    <link href="/static/styles/media.css" rel="stylesheet">
    <title>Landing Page</title>

    <article>
        <img src="/static/components/images/terms.svg" alt="mulher-roxa">
    </article>
    <title>Termos de Integridade dos Dados</title>
</head>
<body>
    <h1>Termos de Integridade dos Dados</h1>
    <p><strong>Introdução</strong></p>
    <p>Bem-vindo ao nosso site! Estamos comprometidos em garantir a integridade dos dados e informações que você compartilha conosco. Nossos termos de integridade dos dados explicam como protegemos e gerenciamos seus dados para garantir que eles sejam precisos, seguros e utilizados de forma responsável. Ao usar nosso site, você concorda com estes termos. Por favor, leia atentamente.</p>

    <p><strong>Coleta de Dados</strong></p>
    <p>Coletamos apenas os dados estritamente necessários para fornecer os serviços e informações que você procura. Isso pode inclui informações, como nome, idade, endereço de e-mail e escola. Não coletamos dados sensíveis sem o seu consentimento explícito.</p>

    <p><strong>Uso e Acesso aos Dados</strong></p>
    <p>Os dados que você compartilha conosco são utilizados somente para os propósitos específicos para os quais foram fornecidos. Não compartilharemos, venderemos ou alugaremos seus dados a terceiros sem sua autorização.</p>


    <p><strong>Precisão dos Dados</strong></p>
    <p>Nosso objetivo é manter os dados precisos e atualizados. Se você perceber imprecisões ou mudanças em suas informações, entre em contato conosco para corrigirmos prontamente.</p>

    <p><strong>Retenção de Dados</strong></p>
    <p>Guardamos seus dados apenas pelo tempo necessário para cumprir os objetivos para os quais foram coletados, a menos que seja exigido legalmente que os mantenhamos por mais tempo.</p>

    <p><strong>Seus Direitos</strong></p>
    <p>Você tem o direito de acessar, corrigir, excluir ou limitar o uso de seus dados pessoais. Se desejar exercer esses direitos, entre em contato conosco. Responderemos às suas solicitações de maneira oportuna e conforme exigido por lei.</p>

    <p><strong>Alterações nos Termos</strong></p>
    <p>Podemos atualizar estes termos periodicamente para refletir mudanças em nossas práticas de gerenciamento de dados. Quando fizermos alterações significativas, informaremos você por meio de notificações em nosso site ou outros meios.</p>

    <p><strong>Contato</strong></p>
    <p>Se tiver dúvidas sobre nossos termos de integridade de dados ou sobre como lidamos com seus dados, entre em contato conosco através dos canais fornecidos em nosso site.</p>

    <p>Agradecemos por confiar em nós com seus dados e garantimos nosso compromisso contínuo com a integridade e segurança dos mesmos.</p>

    <p>Data de vigência: 24/08/2023<br>
    Última atualização: 24/08/2023</p>

    <p>Estamos comprometidos em seguir as diretrizes estabelecidas pela Lei Geral de Proteção de Dados (LGPD).</p>
</body>
</html>
